.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: lightgray;
}

.sub {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}

.favorites {
    display: flex;
    justify-content: space-evenly;
}

p {
    font-size: large;
}

li {
    font-size: large;
}